<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>SML69 - Comment</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/fonts.css" />
</head>
<body>
<div id="wrapper">
    <div id="header">
        <div class="menu">
            <div class="container">
                <div class="logo fleft">
                    <a href="/">
                        <img src="../images/logo.png" alt="logo" />
                        <span>SML69</span>
                    </a>
                </div>
                <div class="main-menu fright">
                    <ul class="list-inline">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div id="content">
        <div class="container ">
            <div class="main-body text-center format-comment">
                <div class="text-container">
                    <div class="content-comment">
                        <div class="owner">
                            <p class="text-right"><%= post.PContent %></p>
                            <div class="clearfix"></div>
                        </div>
                        <% comments.forEach(function(comment){ if(comment.CIsSelf){%>
                        <div class="owner">
                            <p class="text-right"><%= comment.CContent %></p>
                            <div class="clearfix"></div>
                        </div>
                        <% }else{ %>
                        <div class="anonymous">
                            <p class="text-left"><%= comment.CContent %></p>
                        </div>
                        <% }}); %>
                    </div>
                    <textarea id="text-comment" rows="3" maxlength="700" class="form-control remove-border" style="background:none;" placeholder="Comment"></textarea>
                    <div class="btn text-center btn-send">
                        <input type="button" onclick="comment(<%= post.PId %>)" value="comment">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="footer" class="center-block">
        <div class="container">
            <div class="col-1 w33 fleft">
                <div class="copyright">
                    SML69 2017 ©
                    <span>
							<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							<a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
							<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
						</span>
                    -
                    <a href="#">Privacy</a>
                    -
                    <a href="#">Terms</a>
                </div>
            </div>
            <div class="col-1 w33 fleft">
                <div class="language">
                    <a href="#">English</a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../js/comments-script.js"></script>
</body>
</html>
